
<div class="row-2" class="exp">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <div class="title">
                  {{title}}
                </div>
              </h2>
              
                <div class="accordion-body">
                    <div class="col-12">
                        <div class="container">
                            <div class="content">
                              <form #otherform="ngForm" (ngSubmit)=" navigate()">
                                <div class="user-details">
                                  <div class="input-box">
                                    <span class="details">Project</span>
                                    <input type="text" name="project" [(ngModel)]="otherDetails.project"placeholder="Project">
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Project Description</span>
                                    <textarea type="text" name="description" [(ngModel)]="otherDetails.description" placeholder="Project Description" ></textarea>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Skills *</span>
                                    <input type="text" name="skills" [(ngModel)]="otherDetails.skills" placeholder="Skills" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Interests</span>
                                    <input type="text" name="Interest" [(ngModel)]="otherDetails.interest" placeholder="Interests" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Certificates</span>
                                    <input type="text" name="certificate" [(ngModel)]="otherDetails.certificate" placeholder="Certificate" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Year</span>
                                    <input type="text" name="certificateyear" [(ngModel)]="otherDetails.certificateyear" placeholder="Certificate Year" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language *</span>
                                    <input type="text" name="language" [(ngModel)]="otherDetails.language" placeholder="Language" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language Proficinery</span>
                                    <input type="text" name="Proficinery" [(ngModel)]="otherDetails.proficinery" placeholder="proficinery" >
                                  </div>
                                </div>
                             
                               
                                <div class="row ">
                                <div class="button col-md-6">
                                   <button (click)="back()"> Back </button>
                                </div>
                                <div class="button col-md-6">
                                  <input type="submit" [disabled]="otherform.form.invalid" value="save">
                                  </div>
                            </div>
                              </form>
                            </div>
                          </div> 
                    </div>             
            
                        
                </div>
              </div>
            </div>
          </div>
        
    
    
</div>









       
