
<div class="row-2" class="exp">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <div class="title">
                  {{title}}
                </div>
              </h2>
              
                <div class="accordion-body">
                    <div class="col-12">
                        <div class="container">
                            <div class="content">
                              <form #otherform="ngForm" [hidden]=Form1 (ngSubmit)="navigate()" >
                                <div class="user-details">
                                  <div class="input-box">
                                    <span class="details">Project</span>
                                    <input type="text" name="project1" [(ngModel)]="otherDetails.project[0]"placeholder="Project">
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Project Description</span>
                                    <input type="text" name="description1" [(ngModel)]="otherDetails.description[0]" placeholder="Project Description" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Skills *</span>
                                    <input type="text" name="skills1" [(ngModel)]="otherDetails.skills[0]" placeholder="Skills" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Interests</span>
                                    <input type="text" name="Interest1" [(ngModel)]="otherDetails.interest[0]" placeholder="Interests" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Certificates</span>
                                    <input type="text" name="certificate1" [(ngModel)]="otherDetails.certificate[0]" placeholder="Certificate" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Year</span>
                                    <input type="text" name="certificateyear1" [(ngModel)]="otherDetails.certificateyear[0]" placeholder="Certificate Year" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language *</span>
                                    <input type="text" name="language1" [(ngModel)]="otherDetails.language[0]" placeholder="Language" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language proficiency</span>
                                    <input type="text" name="proficiency1" [(ngModel)]="otherDetails.proficiency[0]" placeholder="proficinery" >
                                  </div>
                                  <input type="button" class='button btn-primary'
                                  (click)='toggleImage()'value=" New field">
                                    
                                  
                                  <div class="row" *ngIf='showImage' >
                                  <div class="input-box col-md-12">
                                    <span class="details">Field Name</span>
                                    <input type="text" name="FieldName" [(ngModel)]="otherDetails.fieldname"  >
                                   
                                  </div>
                                  <div class="input-box col-md-12">
                                  <span class="details">Field input </span>  
                                <input type="text" name="Fieldinput" [(ngModel)]="otherDetails. fieldinput"  >
                              </div> 
                            </div>
                              </div>
                             
                               
                                <div class="row ">
                                <div class="button col-md-4">
                                   <button (click)="back()"> Back </button>
                                </div>
                                <div class="button col-md-4">
                                  <input type="button" (click)="f1()" [disabled]="otherform.form.invalid" value="+Add"> 
                               </div>
                                <div class="button col-md-4">
                                  <input type="submit" [disabled]="otherform.form.invalid"  value="save">
                                  </div>
                            </div>
                              </form>
                            </div>

                            <div class="content">
                              <form #otherform="ngForm" [hidden]=Form2 (ngSubmit)="navigate()">
                                <div class="user-details">
                                  <div class="input-box">
                                    <span class="details">Project</span>
                                    <input type="text" name="project2" [(ngModel)]="otherDetails.project[1]"placeholder="Project">
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Project Description</span>
                                    <input type="text" name="description2" [(ngModel)]="otherDetails.description[1]" placeholder="Project Description" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Skills </span>
                                    <input type="text" name="skills2" [(ngModel)]="otherDetails.skills[1]" placeholder="Skills">
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Interests</span>
                                    <input type="text" name="Interest2" [(ngModel)]="otherDetails.interest[1]" placeholder="Interests" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Certificates</span>
                                    <input type="text" name="certificate2" [(ngModel)]="otherDetails.certificate[1]" placeholder="Certificate" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Year</span>
                                    <input type="text" name="certificateyear2" [(ngModel)]="otherDetails.certificateyear[1]" placeholder="Certificate Year" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language </span>
                                    <input type="text" name="language2" [(ngModel)]="otherDetails.language[1]" placeholder="Language" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language proficiency</span>
                                    <input type="text" name="proficiency2" [(ngModel)]="otherDetails.proficiency[1]" placeholder="proficinery" >
                                  </div>
                                </div>
                             
                               
                                <div class="row ">
                                <div class="button col-md-4">
                                   <button (click)="f0()"> Back </button>
                                </div>
                                <div class="button col-md-4">
                                  <input type="button" (click)="f2()" value="+Add"> 
                               </div>
                                <div class="button col-md-4">
                                  <input type="submit" [disabled]="otherform.form.invalid"  value="save">
                                  </div>
                            </div>
                              </form>
                            </div>

                            <div class="content">
                              <form #otherform="ngForm" [hidden]=Form3 (ngSubmit)="navigate()">
                                <div class="user-details">
                                  <div class="input-box">
                                    <span class="details">Project</span>
                                    <input type="text" name="project3" [(ngModel)]="otherDetails.project[2]"placeholder="Project">
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Project Description</span>
                                    <input type="text" name="description3" [(ngModel)]="otherDetails.description[2]" placeholder="Project Description" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Skills </span>
                                    <input type="text" name="skills3" [(ngModel)]="otherDetails.skills[2]" placeholder="Skills" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Interests</span>
                                    <input type="text" name="Interest3" [(ngModel)]="otherDetails.interest[2]" placeholder="Interests" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Certificates</span>
                                    <input type="text" name="certificate3" [(ngModel)]="otherDetails.certificate[2]" placeholder="Certificate" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Year</span>
                                    <input type="text" name="certificateyear3" [(ngModel)]="otherDetails.certificateyear[2]" placeholder="Certificate Year" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language </span>
                                    <input type="text" name="language3" [(ngModel)]="otherDetails.language[2]" placeholder="Language" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Language Proficiency</span>
                                    <input type="text" name="Proficiency3" [(ngModel)]="otherDetails.proficiency[2]" placeholder="proficinery" >
                                  </div>
                                </div>
                             
                               
                                <div class="row ">
                                <div class="button col-md-6">
                                   <button (click)="f1()"> Back </button>
                                </div>
                        
                                <div class="button col-md-6">
                                  <input type="submit" [disabled]="otherform.form.invalid"  value="save">
                                  </div>
                            </div>
                              </form>
                            </div>
                          </div> 
                    </div>             
            
                        
                </div>
              </div>
            </div>
          </div>
        
    
    
</div>









       
