
<div class="row-2" class="edu">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <div class="title">
                  {{title}}
                </div>
              </h2>

                <div class="accordion-body">
                    <div class="col-12">
                        <div class="container">
                            <div class="content">
                              <form #educationform="ngForm">
                                <div class="user-details">
                                  <div class="input-box">
                                    <span class="details">Qualification *</span>
                                    <input type="text" name="Qualification" [(ngModel)]="educationDetails.Qualification" placeholder="Qualification" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Institution *</span>
                                    <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute" placeholder="Institution" required>
                                  </div>
                                 
                                  <div class="input-box">
                                    <span class="details">Start Date *</span>
                                    <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate" placeholder="Start Date" required>
                                  </div>
                                  <div class="input-box">
                                    <span class="details">End Date / Present *</span>
                                    <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate" placeholder="End Date /Present" required >
                                  </div>
                                  <div class="input-box">
                                    <span class="details"> Course</span>
                                    <input type="Course" name="Course" [(ngModel)]="educationDetails.Course" placeholder=" Course" >
                                  </div>
                                  <div class="input-box">
                                    <span class="details">Year Of Complition</span>
                                    <input type="text" name="year" [(ngModel)]="educationDetails.year" placeholder="Year" >
                                  </div>
                                  
                                </div>
                                
                                <div class="row ">
                                <div class="button col-md-6">
                                  <button (click)="back()"> Back </button>
                                </div>
                                <div class="button col-md-6">
                                   <input type="submit" (click)="navigate()" [disabled]="educationform.form.invalid" value="Next">
                                  </div>
                            </div>
                              </form>
                            </div>
                          </div> 
                    </div>             
            
                </div>
              </div>
            </div>
          </div>
        
    
     </div>










       
