
<div class="row-4" class="edu">
    <div class="col-2">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{title}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form action="">
                            <div class="col-12">
                                <label class="form-label" for="Qualification">Qualification </label>
                                <input type="text" class="form-control" aria-label="Qualification">
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="Institution">Institution </label>
                                <input type="text" class="form-control" aria-label="Institution">
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="University/Board">University/Board </label>
                                <input type="text" class="form-control" aria-label="University/Board">
                            </div>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Present">
                                <label class="form-check-label" for="Present">Present </label>
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="StartDate">StartDate </label>
                                <input type="date" class="form-control" aria-label="StartDate">
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="EndDate">EndDate </label>
                                <input type="date" class="form-control" aria-label="EndDate">
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="YearOfCompletion">YearOfCompletion </label>
                                <input type="text" class="form-control" aria-label="YearOfCompletion">
                            </div>
                            <br>
                            <div class="col-12">
                                <label class="form-label" for="Courses">Courses </label>
                                <input type="text" class="form-control" aria-label="Courses">
                            </div>
                            <br>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add </button>
                            </div>
                            <br>
                        </form>  
                    </div>             
            
                </div>
              </div>
            </div>
          </div>
        
    
     </div>
</div>









       
