
<div class="row-2" class="userdetails">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{title}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col-12">
                        <form action="">
                            <div class="col-8">
                                <label class="form-label" for="userid">User-Id </label>
                                <input type="text" class="form-control" aria-label="userid">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="email">E-mail </label>
                                <input type="text" class="form-control" aria-label="email">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="address">Address </label>
                                <input type="text" class="form-control" aria-label="Address">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="phonenumber">Phone Number </label>
                                <input type="text" class="form-control" aria-label="phonenumber">
                            </div>
                            <br>
                            <br>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add </button>
                            </div>
                            <br>
                        </form>  
                    </div>             
            
                </div>
              </div>
            </div>
          </div>
        
    
     </div>
</div>









       
