<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="nav.visible"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="btn btn-outline-primary ms-5 me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page" routerLink="dashboard"
                >Dashboard</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page" routerLink="education"
                >Education</a>
            </button>
          </li>
          <!-- <li class="nav-item">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page" routerLink="/booklist"
                >Books</a
              >
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page" routerLink="/authorlist"
                >Authors</a
              >
            </button>
          </li>
          <li class="nav-item" *ngIf="_auth.loggedIn()">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page"   routerLink="/addbook"
                >Add Book</a
              >
            </button>
          </li>
          <li class="nav-item " *ngIf="_auth.loggedIn()">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page"   routerLink="/addauthor"
                >Add Author</a
              >
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary me-2 " type="button">
              <a class="nav-link active text-white" aria-current="page"(click)="logOut()"
                >Log Out</a
              >
            </button>
          </li> -->
  
  
          
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  
  
  <!-- ------------------------------------------ -->
