
<div class="row-2" class="userdetails">
  <div class="col-12">
      <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <div class="title">
                {{title}}
              </div>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <div class="col-12">
                      <div class="container">
                          <div class="content">
                            <form  #userform="ngForm" (ngSubmit)="updateUser()">
                              <div class="user-details" >
                              
                                <div class="input-box">
                                  <span class="details">Name:  </span>
                                  <input type="text" name="name" placeholder="name" [(ngModel)]="userDetails.name" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Summary:  </span>
                                 <textarea name="summary" [ngModel]="userDetails.summary"></textarea>
                                </div>
                              
                                <div class="input-box">
                                  <span class="details">Phone Number </span>
                                  <input type="text" name="phoneNumber" placeholder="Enter your number"[(ngModel)]="userDetails.phoneNumber" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Address </span>
                                  <input type="textarea" name="address" placeholder="Address"[(ngModel)]="userDetails.address" >
                                </div>
                                <div class="input-box">
                                  <span class="details">City </span>
                                  <input type="text" name="city"placeholder="City" [(ngModel)]="userDetails.city">
                                </div>
                                <div class="input-box">
                                  <span class="details">Pincode </span>
                                  <input type="text" name="pincode" placeholder="Pincode"[(ngModel)]="userDetails.pincode" >
                                </div>
                              </div>

                                <h1>Education 1</h1>
                            
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details" >Qualification </span>
                                  
                                  <input type="text"  name="Qualification" [(ngModel)]="educationDetails.Qualification[0]" placeholder="Qualification" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Institution *</span>
                                  <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute[0]" placeholder="Institution" >
                                </div>
                               
                                <div class="input-box">
                                  <span class="details">Start Date *</span>
                                  <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate[0]" placeholder="Start Date" >
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present </span>
                                  <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate[0]" placeholder="End Date /Present"  >
                                </div>
                                <div class="input-box">
                                  <span class="details"> Course</span>
                                  <input type="Course" name="Course" [(ngModel)]="educationDetails.Course[0]" placeholder=" Course" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year Of Complition</span>
                                  <input type="text" name="year" [(ngModel)]="educationDetails.year[0]" placeholder="Year" >
                                </div>
                                </div>

                                <h1>Education 2</h1>
                            
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details" >Qualification </span>
                                  
                                  <input type="text"  name="Qualification" [(ngModel)]="educationDetails.Qualification[1]" placeholder="Qualification" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Institution </span>
                                  <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute[1]" placeholder="Institution" >
                                </div>
                               
                                <div class="input-box">
                                  <span class="details">Start Date *</span>
                                  <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate[1]" placeholder="Start Date" >
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present *</span>
                                  <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate[1]" placeholder="End Date /Present" >
                                </div>
                                <div class="input-box">
                                  <span class="details"> Course</span>
                                  <input type="Course" name="Course" [(ngModel)]="educationDetails.Course[1]" placeholder=" Course" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year Of Complition</span>
                                  <input type="text" name="year" [(ngModel)]="educationDetails.year[1]" placeholder="Year" >
                                </div>
                                </div>

                                <h1>Education 3</h1>
                               
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details" >Qualification </span>
                                  
                                  <input type="text"  name="Qualification" [(ngModel)]="educationDetails.Qualification[2]" placeholder="Qualification" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Institution </span>
                                  <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute[2]" placeholder="Institution" >
                                </div>
                               
                                <div class="input-box">
                                  <span class="details">Start Date </span>
                                  <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate[2]" placeholder="Start Date" >
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present </span>
                                  <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate[2]" placeholder="End Date /Present"  >
                                </div>
                                <div class="input-box">
                                  <span class="details"> Course</span>
                                  <input type="Course" name="Course" [(ngModel)]="educationDetails.Course[2]" placeholder=" Course" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year Of Complition</span>
                                  <input type="text" name="year" [(ngModel)]="educationDetails.year[2]" placeholder="Year" >
                                </div>
                                </div>

                                <h1>Education 4</h1>

                                  <div class="user-details" >
                                <div class="input-box">
                                  <span class="details" >Qualification </span>
                                  
                                  <input type="text"  name="Qualification" [(ngModel)]="educationDetails.Qualification[3]" placeholder="Qualification" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Institution </span>
                                  <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute[3]" placeholder="Institution" >
                                </div>
                               
                                <div class="input-box">
                                  <span class="details">Start Date </span>
                                  <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate[3]" placeholder="Start Date" >
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present </span>
                                  <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate[3]" placeholder="End Date /Present"  >
                                </div>
                                <div class="input-box">
                                  <span class="details"> Course</span>
                                  <input type="Course" name="Course" [(ngModel)]="educationDetails.Course[3]" placeholder=" Course" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year Of Complition</span>
                                  <input type="text" name="year" [(ngModel)]="educationDetails.year[3]" placeholder="Year" >
                                </div>
                                  </div>

                                <h1>Education 5</h1>

                                   <div class="user-details" >
                                <div class="input-box">
                                  <span class="details" >Qualification </span>
                                  
                                  <input type="text"  name="Qualification" [(ngModel)]="educationDetails.Qualification[4]" placeholder="Qualification" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Institution </span>
                                  <input type="text" name="Institute" [(ngModel)]="educationDetails.Institute[4]" placeholder="Institution" >
                                </div>
                               
                                <div class="input-box">
                                  <span class="details">Start Date </span>
                                  <input type="date" name="CourseStartDate" [(ngModel)]="educationDetails.CourseStartDate[4]" placeholder="Start Date" >
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present </span>
                                  <input type="text" name="CourseEndDate" [(ngModel)]="educationDetails.CourseEndDate[4]" placeholder="End Date /Present" >
                                </div>
                                <div class="input-box">
                                  <span class="details"> Course</span>
                                  <input type="Course" name="Course" [(ngModel)]="educationDetails.Course[4]" placeholder=" Course" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year Of Complition</span>
                                  <input type="text" name="year" [(ngModel)]="educationDetails.year[4]" placeholder="Year" >
                                </div>
                                   </div>

                                <h1>Experience 1</h1>
                            
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Title</span>
                                  <input type="text" name="Title" [(ngModel)]="experienceDetails.Title[0]" placeholder="Title" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Name</span>
                                  <input type="text" name="CompanyName" [(ngModel)]="experienceDetails.CompanyName[0]" placeholder="Company Name" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Address</span>
                                  <input type="text" name="CompanyAddress" [(ngModel)]="experienceDetails.CompanyAddress[0]" placeholder="Company Address" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Key Responsibilities</span>
                                  <input  [(ngModel)]="experienceDetails.Key[0]" name="Key Responsibilities" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Start date</span>
                                  <input type="date" name="StartDate" [(ngModel)]="experienceDetails.StartDate[0]" placeholder="Startdate">
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present</span>
                                  <input type="text"  name="EndDate" [(ngModel)]="experienceDetails.EndDate[0]" placeholder="enddate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Achivements</span>
                                  <input type="text" name="Achivements" [(ngModel)]="experienceDetails.Achivements[0]" placeholder="Achivements" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Reference</span>
                                  <input type="text" name="Reference" [(ngModel)]="experienceDetails.Reference[0]" placeholder="Reference" >
                                </div>
                                </div>

                                <h1>Experience 2</h1>
                            
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Title</span>
                                  <input type="text" name="Title" [(ngModel)]="experienceDetails.Title[1]" placeholder="Title" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Name</span>
                                  <input type="text" name="CompanyName" [(ngModel)]="experienceDetails.CompanyName[1]" placeholder="Company Name" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Address</span>
                                  <input type="text" name="CompanyAddress" [(ngModel)]="experienceDetails.CompanyAddress[1]" placeholder="Company Address" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Key Responsibilities</span>
                                  <input  [(ngModel)]="experienceDetails.Key[1]" name="Key Responsibilities" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Start date</span>
                                  <input type="date" name="StartDate" [(ngModel)]="experienceDetails.StartDate[1]" placeholder="Startdate">
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present</span>
                                  <input type="text"  name="EndDate" [(ngModel)]="experienceDetails.EndDate[1]" placeholder="enddate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Achivements</span>
                                  <input type="text" name="Achivements" [(ngModel)]="experienceDetails.Achivements[1]" placeholder="Achivements" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Reference</span>
                                  <input type="text" name="Reference" [(ngModel)]="experienceDetails.Reference[1]" placeholder="Reference" >
                                </div>
                                </div>

                                <h1>Experience 3</h1>
                                
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Title</span>
                                  <input type="text" name="Title" [(ngModel)]="experienceDetails.Title[2]" placeholder="Title" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Name</span>
                                  <input type="text" name="CompanyName" [(ngModel)]="experienceDetails.CompanyName[2]" placeholder="Company Name" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Company Address</span>
                                  <input type="text" name="CompanyAddress" [(ngModel)]="experienceDetails.CompanyAddress[2]" placeholder="Company Address" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Key Responsibilities</span>
                                  <input  [(ngModel)]="experienceDetails.Key[2]" name="Key Responsibilities" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Start date</span>
                                  <input type="date" name="StartDate" [(ngModel)]="experienceDetails.StartDate[2]" placeholder="Startdate">
                                </div>
                                <div class="input-box">
                                  <span class="details">End Date / Present</span>
                                  <input type="text"  name="EndDate" [(ngModel)]="experienceDetails.EndDate[2]" placeholder="enddate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Achivements</span>
                                  <input type="text" name="Achivements" [(ngModel)]="experienceDetails.Achivements[2]" placeholder="Achivements" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Reference</span>
                                  <input type="text" name="Reference" [(ngModel)]="experienceDetails.Reference[2]" placeholder="Reference" >
                                </div>
                                </div>

                                <h1>Other Details 1</h1>

                              <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Project</span>
                                  <input type="text" name="project" [(ngModel)]="otherDetails.project[0]"placeholder="Project">
                                </div>
                                <div class="input-box">
                                  <span class="details">Project Description</span>
                                  <textarea type="text" name="description" [(ngModel)]="otherDetails.description[0]" placeholder="Project Description" ></textarea>
                                </div>
                                <div class="input-box">
                                  <span class="details">Skills </span>
                                  <input type="text" name="skills" [(ngModel)]="otherDetails.skills[0]" placeholder="Skills" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Interests</span>
                                  <input type="text" name="Interest" [(ngModel)]="otherDetails.interest[0]" placeholder="Interests" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Certificates</span>
                                  <input type="text" name="certificate" [(ngModel)]="otherDetails.certificate[0]" placeholder="Certificate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year</span>
                                  <input type="text" name="certificateyear" [(ngModel)]="otherDetails.certificateyear[0]" placeholder="Certificate Year" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language </span>
                                  <input type="text" name="language" [(ngModel)]="otherDetails.language[0]" placeholder="Language" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language proficiency</span>
                                  <input type="text" name="proficiency" [(ngModel)]="otherDetails.proficiency[0]" placeholder="proficinery" >
                                </div>
                                </div>

                                <h1>Other Details 2</h1>
                              
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Project</span>
                                  <input type="text" name="project" [(ngModel)]="otherDetails.project[1]"placeholder="Project">
                                </div>
                                <div class="input-box">
                                  <span class="details">Project Description</span>
                                  <textarea type="text" name="description" [(ngModel)]="otherDetails.description[1]" placeholder="Project Description" ></textarea>
                                </div>
                                <div class="input-box">
                                  <span class="details">Skills *</span>
                                  <input type="text" name="skills" [(ngModel)]="otherDetails.skills[1]" placeholder="Skills" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Interests</span>
                                  <input type="text" name="Interest" [(ngModel)]="otherDetails.interest[1]" placeholder="Interests" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Certificates</span>
                                  <input type="text" name="certificate" [(ngModel)]="otherDetails.certificate[1]" placeholder="Certificate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year</span>
                                  <input type="text" name="certificateyear" [(ngModel)]="otherDetails.certificateyear[1]" placeholder="Certificate Year" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language *</span>
                                  <input type="text" name="language" [(ngModel)]="otherDetails.language[1]" placeholder="Language" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language proficiency</span>
                                  <input type="text" name="proficiency" [(ngModel)]="otherDetails.proficiency[1]" placeholder="proficinery" >
                                </div>
                                </div>

                                <h1>Other Details 3</h1>
                                
                                <div class="user-details" >
                                <div class="input-box">
                                  <span class="details">Project</span>
                                  <input type="text" name="project" [(ngModel)]="otherDetails.project[2]"placeholder="Project">
                                </div>
                                <div class="input-box">
                                  <span class="details">Project Description</span>
                                  <textarea type="text" name="description" [(ngModel)]="otherDetails.description[2]" placeholder="Project Description" ></textarea>
                                </div>
                                <div class="input-box">
                                  <span class="details">Skills </span>
                                  <input type="text" name="skills" [(ngModel)]="otherDetails.skills[2]" placeholder="Skills" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Interests</span>
                                  <input type="text" name="Interest" [(ngModel)]="otherDetails.interest[2]" placeholder="Interests" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Certificates</span>
                                  <input type="text" name="certificate" [(ngModel)]="otherDetails.certificate[2]" placeholder="Certificate" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Year</span>
                                  <input type="text" name="certificateyear" [(ngModel)]="otherDetails.certificateyear[2]" placeholder="Certificate Year" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language </span>
                                  <input type="text" name="language" [(ngModel)]="otherDetails.language[2]" placeholder="Language" >
                                </div>
                                <div class="input-box">
                                  <span class="details">Language proficiency</span>
                                  <input type="text" name="proficiency" [(ngModel)]="otherDetails.proficiency[2]" placeholder="proficinery" >
                                </div>
                              </div>
                              <div class="row ">
                                <div class="button col-md-6">
                                   <button  routerLink="/templates"> Back  </button>
                                </div>
                                <div class="button col-md-6">
                                  <input type="submit" [disabled]="userform.form.invalid" value="UPDATE">
                                  </div>
                            </div>
                       
                            </form>
                          </div>
                        </div>
                      
                  </div>             
          
              </div>
            </div>
          </div>
        </div>
      
  
   </div>
</div>









     
