footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 1px solid rgba(167,167,167,0.2);
    
}
 #second{
    color:#5e5e5e;
    align-items: center;
    float: right;
}


.middle{
    text-align: center;
}

.btn{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #f1f1f1;
    margin: 1px;
    margin-left: 4px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn {
    line-height: 25px;
    font-size: 20px;
    transition: 1s linear;
    align-items: center;
}

 .btn #fb:hover{
    transform: scale(1);
    color: #f1f1f1;
}

.btn #twitter:hover{
    transform: scale(1);
    color: #f1f1f1;
}

.btn #instragram,#google:hover{
    transform: scale(1);
    color: #f1f1f1;
}



.btn::before{
    content: "";
    position: absolute;
    width:120%;
    height: 120%;
    background: #3498db; 
    transform: rotate(45deg);
    left: -110%;
    top:90%;
}

.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa{
    0%{
        left: -110%;
        top:90%;
    } 50%{
        top: -10%;
        left: -30%;
    } 100%{
        top: -10%;
    left: -10%;
    }
}