<div class="mainform">
    <div class="Left">
        <div class="wrapper">
        <ul class="list-items">
            <li><i class="fas fa-plus"></i>  Add  </li>
            <li><a routerLink="/addforms" ><i class="fas fa-user"></i> UserDetails</a></li>
            <li><a routerLink="/form1"><i class="fas fa-university"></i> Education</a></li>
            <li><a routerLink="/form2"><i class="fas fa-tasks"></i> Experience</a></li>
            <li><a routerLink="/form3"><i class="fas fa-cog"></i> Others</a></li>
        
        </ul>
    </div>
    </div>
    <div class="secondmain">
    <div class="top">
        
            <app-formheader></app-formheader>
       
        </div> 
    <div class="right">
        <div id="outlet">
           <app-user-details></app-user-details>
        </div>               
    </div>
</div>
</div>