<div class="mainform">
    <div class="Left">
        <div class="wrapper">
        <ul class="list-items">
            <li><a routerLink="userDetails" ><i class="fas fa-user"></i> UserDetails</a></li>
            <li><a routerLink="education"><i class="fas fa-university"></i> Education</a></li>
            <li><a routerLink="experience"><i class="fas fa-tasks"></i> Experience</a></li>
            <li><a routerLink="projects"><i class="fas fa-cog"></i> Projects</a></li>
            <li><a routerLink="skills"><i class="fas fa-running"></i> Skills</a></li>
            <li><a routerLink="interests"><i class="fas fa-music"></i> Interests</a></li>
            <li><a routerLink="certificate"><i class="fas fa-stamp"></i> Certificates</a></li>
            <li><a  routerLink="language"><i class="fas fa-language"></i> Language</a></li>
        </ul>
    </div>
    </div>
    <div class="right">
        <div id="outlet">
            <router-outlet></router-outlet> 
        </div>               
    </div>
</div>