<div class="mainform">
    <div class="Left">
        <p><a routerLink="userDetails">UserDetails</a></p>
        <p><a routerLink="education">Education</a></p>
        <p><a routerLink="experience">Experience</a></p>
        <p><a routerLink="projects">Projects</a></p>
        <p><a routerLink="skills">Skills</a></p>
        <p><a routerLink="interests">Interests</a></p>
        <p><a routerLink="certificate">Certificate</a></p>
        <p><a routerLink="language">Language</a></p>
    </div>
    <div class="right">
        <div id="outlet">
            <router-outlet></router-outlet> 
        </div>               
    </div>
</div>