
<div class="row-2" class="exp">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{title}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col-12">
                        <form action="">
                            <div class="col-8">
                                <label class="form-label" for="Title">Title </label>
                                <input type="text" class="form-control" aria-label="Title">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="companyname">Company Name </label>
                                <input type="text" class="form-control" aria-label="companyname">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="companyaddress">Company Address</label>
                                <input type="text" class="form-control" aria-label="companyaddress">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="StartDate">StartDate </label>
                                <input type="date" class="form-control" aria-label="StartDate">
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="EndDate">EndDate </label>
                                <input type="date" class="form-control" aria-label="EndDate">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Present">
                                <label class="form-check-label" for="Present">Present </label>
                            </div>
                            <div class="col-8">
                                <label class="form-label" for="keyresponsibilities">Key Responsibilities </label>
                                <input type="text" class="form-control" aria-label="keyresponsibilities">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="achivements"> Achivements </label>
                                <input type="text" class="form-control" aria-label="achivements">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="references"> References </label>
                                <input type="text" class="form-control" aria-label="references">
                            </div>
                            <br>
                            <br>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Add </button>
                            </div>
                            <br>
                        </form>  
                    </div>             
            
                </div>
              </div>
            </div>
          </div>
        
    
     </div>
</div>









       
